.contenu {
    padding-left : 20px;
}

.aligne{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
}

.orange{
    background-color: rgb(248, 179, 52);
    
}

.coral{
    background-color: #f7cb7b;
    margin-top: 50px;

}

.case{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.case:hover{
    background-color: #eeeab1;
    border: black 10px;
}

.coral:hover{
    background-color: #eeeab1;
    border: black 10px;
}

.margin300{
    margin-left: 150px;
}

.margin100{
    margin-left: 100px;
}

.margin10{
    margin-left: 10px;
}

.nom{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 350px;
}

.titee{
    font-size: 50px;
}

.mt{
    margin-top: 30px;
}

.photo{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
}